@model Product


<form method="Post" asp-action="store" asp-controller="products" asp-area="admin" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter Products Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label  asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" placeholder="Enter Products Description">@Model.Description</textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" placeholder="Enter Products Price">
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <label  asp-for="Quantity"></label>
            <input asp-for="Quantity" class="form-control" placeholder="Enter Products Quantity">
            <span class="text-danger" asp-validation-for="Quantity"></span>
        </div>
        <div class="form-group">
            <label  asp-for="Image"></label>
            <input type="file" asp-for="Image" class="form-control" placeholder="Enter Products Image">
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>
        <div class="form-group">
            <label  asp-for="CategoryId" ></label>
            <select asp-for="CategoryId" class="form-control" name="CategoryId">
                @foreach(var item in ViewBag.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>