@using MVC_Project.Models
@model Category


<form method="Post" asp-action="store" asp-controller="categories" asp-area="admin">
    <div class="card-body">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" placeholder="Enter Category Name" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>