@using MVC_Project.Models
@model Category


<form method="Post" asp-action="update" asp-controller="categories" asp-area="admin">
    <div class="card-body">
        <input type="hidden" asp-for="Id"/>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter Category Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>